.vscode
venv
/venv
.idea
core/__pycache__/
/core/__pycache__/
item/migrations
/item/migrations/
item/__pycache__
/store/__pycache__
/store/migrations
/grn/migrations
/grn/__pycache__
/stock/migrations
/stock/__pycache__
/reports/__pycache__
/reports/migrations
env
db.sqlite3
.idea
users/migrations/
users/__pycache__/
