{% extends 'base.html' %} {% load static %} {% block main %}
<div class="dashboard-wrapper">
  <div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content">
      <div class="container-fluid">
        <!-- Content Row -->
        <div class="row">
          <!-- Content Column -->
          <div class="col-lg-12 col-md-12">
            <!-- Project Card Example -->
            <div class="card shadow">
              <div class="card-header py-6">
                <a
                  class="btn btn-primary btn-rounded"
                  data-target="#myModal"
                  data-toggle="modal"
                  >Add stock out</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <!-- Content Row -->
        <div class="row">
          <!-- Content Column -->
          <div class="col-lg-12 col-md-12 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-6">
                <h4 class="m-0 font-weight-bold text-center text-primary">
                  Stock out list
                </h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered text-center"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Remarks</th>
                        <th>Created At</th>
                        <th>Return product</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for stock_out in stock_outs %}
                      <tr>
                        <th>{{ forloop.counter }}</th>
                        <th>{{ stock_out.stock.item.name }}</th>
                        <th>{{ stock_out.quantity }}</th>
                        <th>{{ stock_out.remarks }}</th>
                        <th>{{ stock_out.created_at }}</th>
                        <th>
                          <a href="{% url 'stock-return' stock_out.id %}">
                            <button class="btn btn-primary">
                              <i class="fa fa-undo"></i>
                            </button>
                          </a>
                        </th>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="modal fade bd-example-modal-xl" id="myModal" role="dialog">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Create stock out</h3>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
            <form
              method="POST"
              id="addCatagory"
              action="{% url 'stock-out' %}"
              enctype="multipart/form-data"
            >
              {% csrf_token %}

              <div class="col-md-12">
                <div class="panel panel-white">
                  <div class="panel-body">
                    <div class="row duplicateMe">
                      <div class="col-md-3">
                        <div class="form-group">
                          <select
                            id="itemList"
                            class="form-control item"
                            name="item"
                            required
                          >
                            <option value="" selected disabled>Select Item</option>
                            {% for stock in stocks %}
                            <option value="{{stock.id}}">
                              {{stock.item.name}}: {{stock.item.description}}: {{stock.item.uom.name}}
                            </option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <input
                            type="number"
                            name="quantity"
                            required="required"
                            class="form-control quantity"
                            min="0"
                            placeholder="quantity"
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input
                            type="text"
                            name="remarks"
                            class="form-control remarks"
                            placeholder="reason for stock out"
                          />
                        </div>
                      </div>
                      <div class="col-md-3">
                        <button
                          type="button"
                          class="btn btn-success btn-rounded"
                          style="margin-top: 1px"
                          id="repeat"
                        >
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label"></label>
                  <button class="btn btn-block btn-success btn-rounded">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Grn Details View</h3>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <label for="Grn">GRN NO: </label>
                </div>
                <div class="col-md-6">
                  <b id="grn_no"> </b>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="Store">Store: </label>
                </div>
                <div class="col-md-4">
                  <b class="Store1"> </b>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="total_price">Total Price: </label>
                </div>
                <div class="col-md-6">
                  <b class="total_price"> </b>
                </div>
              </div>
              <div class="row">
                <table
                  class="table table-bordered text-center"
                  id="dataTable"
                  width="100%"
                  cellspacing="0"
                >
                  <thead>
                    <tr>
                      <th>Item</th>
                      <th>Qty</th>
                      <th>Unit Price</th>
                    </tr>
                  </thead>
                  <tbody id="innerTable"></tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
  $(".edit_grn_btn").click(function () {
    $.ajax({
      url: "{% url 'grn-details' %}",
      type: "GET",
      data: { id: $(this).data("id") },
      dataType: "json",
      success: function (json) {
        console.log(json);
        $("#grn_no").html(json.grn[0].code);
        $(".Store1").html(json.storeName[0].name);
        $(".total_price").html(json.grn[0].total_price);
        $("#innerTable").html(
          json.grn_details.map((item) => {
            return `<tr>
                        <td>${item.item_id}</td>
                        <td>${item.quantity}</td>
                        <td>${item.unit_price}</td>
                    </tr>`;
          })
        );
      },
    });
  });
  $("body").on("click", "#repeat", function () {
    $duplicate = $(".duplicateMe");

    $duplicate.find("span").remove();

    var clone = $duplicate.html();
    $(".duplicateMe")
      .parent()
      .append('<div class="row duplicateMe">' + clone + "</div>");
    $(this)
      .parent()
      .append(
        '<button type="button" class="btn btn-danger" style="margin-top: 1px;" id="remove"><i class="fa fa-minus"></i></button>'
      );
    $(this).remove();
    $duplicate.removeClass("duplicateMe");
  });

  // Remove Form data
  $("body").on("click", "#remove", function () {
    $(this).parent().parent().remove();
  });
  //get the value from the dropdown item
  $("body").on("change", "#itemList", function () {
    let item = $("#itemList").find(":selected").val();
    console.log(item);
    $.ajax({
      url: "{% url 'stock-details' %}",
      type: "GET",
      //option value from dropdown through ajax item

      data: { id: item },
      dataType: "json",
      success: function (json) {
        console.log(json);

        //loop through the array
        $(".quantity").attr("max", json.stocks[0].quantity);
      },
    });
  });
</script>
{% endblock %}
