{% extends 'base.html' %} {% load static %} {% block main %}
<div class="dashboard-wrapper">
  <div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content">
      <div class="container-fluid">
        <!-- Content Row -->
        <div class="row">
          <!-- Content Column -->
          <div class="col-lg-12 col-md-12 mb-4">
              <!-- Project Card Example -->
              <div class="card shadow mb-4">
              <div class="card-header py-6">
                  <h4 class="m-0 font-weight-bold text-center text-primary">Stock List</h4>
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                  <table class="table table-bordered text-center display nowrap" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                      <tr>
                          <th>No</th>
                          <th>Item</th>
                          <th>Store</th>
                          <th>QTY</th>

                      </tr>
                      </thead>
                      <tbody>
                          {% for val in stocks %}
                          <tr>
                              <th>{{ forloop.counter }}</th>
                              <th>{{ val.item.name }}</th>
                              <th>{{ val.store.name }}</th>
                              <th>{{ val.quantity }}</th>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                  </div>
              </div>
              </div>
          </div>
          </div>
      </div>
   </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>

  $(".edit_grn_btn").click(function () {
    $.ajax({
      url: "{% url 'grn-details' %}",
      type: "GET",
      data: { id: $(this).data("id") },
      dataType: "json",
      success: function (json) {
        console.log(json);
        $("#grn_no").html(json.grn[0].code);
        $(".Store1").html(json.storeName[0].name);
        $(".total_price").html(json.grn[0].total_price);
        $("#innerTable").html(
          json.grn_details.map((item) => {
            return `<tr>
                        <td>${item.item_id}</td>
                        <td>${item.quantity}</td>
                        <td>${item.price}</td>
                    </tr>`;
          })
        );


      }
    });
  });
  $("body").on("click", "#repeat", function () {
    $duplicate = $(".duplicateMe");

    $duplicate.find("span").remove();

    var clone = $duplicate.html();
    $(".duplicateMe")
      .parent()
      .append('<div class="row duplicateMe">' + clone + "</div>");
    $(this)
      .parent()
      .append(
        '<button type="button" class="btn btn-danger" style="margin-top: 1px;" id="remove"><i class="fa fa-minus"></i></button>'
      );
    $(this).remove();
    $duplicate.removeClass("duplicateMe");
  });

  // Remove Form data
  $("body").on("click", "#remove", function () {
    $(this).parent().parent().remove();
  });
</script>
{% endblock %}
