{% extends 'base.html' %}
{% load static %}

{% block main %}



<div class="container-fluid">
      <!-- Content Row -->
    <div class="row">
    <!-- Content Column -->
        <div class="col-lg-12 col-md-12 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
            <div class="card-header py-6">
                <h4 class="m-0 font-weight-bold text-center text-primary">All User</h4>
            </div>
            <div class="card-body ">
                <div class="table-responsive">
                    <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Username</th>
                            <th>email</th>
                            <th>Joined Date</th>
                            <th>Is Active</th>
<!--                            <th>Change Role</th>-->
                        </tr>
                        </thead>
                        <tbody>
                            {% for user in allAuthUser %}
                            <tr>    
                                <th>{{ forloop.counter }}</th>
                                <th>{{ user.username}}</th>
                                <th>{{ user.email }}</th>
                                <th>{{ user.date_joined }}</th>
                                {% if user.is_active == 1 %}
                                    <th><button class="btn btn-primary">Yes</button></th>
                                {% else %}
                                    <th><button class="btn btn-info">No</button></th>
                                {% endif %}
<!--                                <th>-->
<!--                                    <a data-id="{{ user.id }}" data-target="#myModal" data-toggle="modal" class="editUserBtn">-->
<!--                                        <button class="btn btn-warning btn-circle">-->
<!--                                            <i class="fas fa-exclamation-triangle" ></i>-->
<!--                                        </button>-->
<!--                                    </a>-->
<!--                                </th>-->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
            </div>

        </div>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


<script>

</script>

{% endblock %}

