{% extends 'base.html' %} {% load static %} {% block main %}

<div class="container">
  <!-- Content Row -->
  <div class="row">
    <!-- Content Column -->
    <div class="col-md-12">
      <!-- Project Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-6" align="center">
          <h4 class="m-0 font-weight-bold text-primary">Inventory Dashboard</h4>
        </div>
        <div class="card-body" align="center">
          <div class="container">
            <div class="row">
              <div class="col-md-4 mb-2">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title">Total Stock Item</p>
                    <h3 class="card-text">{{total_stock}}</h3>
                    <a href="{% url 'stocks' %}" class="btn btn-primary"
                      >Go to stock list</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title">Total Good Receive Item</p>
                    <h3 class="card-text">{{total_grn}}</h3>
                    <a href="{% url 'grn' %}" class="btn btn-primary"
                      >Go to goods receive list</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title">Total Store</p>
                    <h3 class="card-text">{{total_store}}</h3>
                    <a href="{% url 'store' %}" class="btn btn-primary"
                      >Go to store list</a>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-4 mb-2">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title">Total Stock Out</p>
                      <h3 class="card-text">{{total_stock_out}}</h3>
                      <a href="{% url 'stock-out' %}" class="btn btn-primary">Go to item list</a>
                    </div>
                  </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title">Total Items</p>
                    <h3 class="card-text">{{total_item}}</h3>
                    <a href="{% url 'item' %}" class="btn btn-primary"
                      >Go to item list</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script></script>

  {% endblock %}
</div>
